body {
  margin: 0;
  color:#40515E;
  text-align:center;
  font-family: 'Merriweather',serif; 
}
h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento',cursive;
  color : #66BFBF;
}
h2{
  font-family: 'Montserrat',sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  color:#66BFBF;
  padding:10px;
}
h3{
  font-family:'Montserrat',sans-serif;
  color:#11999E;
}
.top-container{
  background-color: #e4f9f5;
  position:relative;
  padding-top: 100px;
}
a{
  color:#11999E;
  font-family: 'Montserrat',sans-serif;
  margin:0px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6
}
.stu {
  text-decoration: underline;
}
.bottom-cloud{
    position:absolute;
    left:250px;
    bottom:300px; 
}
.top-cloud{
    position:absolute;
    right:300px;
    top: 40px;   
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align : left;
}
.middle-container{
  margin:100px 0;
}
p{
  line-height: 2;
}
.coding-img{
  width:25%;
  float : left;
  margin-right:30px;
}
.gaming-img{
  width:25%;
  float : right;
  margin-left:30px;
}
hr{
  /* border-style: dotted none none none;
  border-width:10px; */
  border:dotted;
  border-width:6px;
  border-bottom:none;
  width : 5%;
  border-color:#EAF6F6;
  margin:100px auto;
}
.btn {
  
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bottom-container{
  margin-top:20px;
  background-color: #66BFBF;
  /* line-height: 3; */
  padding:16px;
}
.contact-message{
  width: 40%;
  margin:40px auto 60px;
}
.copyright{
  font-family: 'Montserrat',sans-serif;
  color:#EaF6F6;
  font-size: 0.75rem;
  padding-top:20px;
}
